* {
  margin: 10px;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Arial', sans-serif;
  font-size: 20px;
}

body {
  /* background: linear-gradient(to top left, #28b487, #7dd56f); */
  background-color: #a8bddf;
}

.pagetitle {
  text-align: center;
}

.container {
  /* max-width: 1600px; */
  margin: 0 auto;
  height: 100vh;
}

.header {
  color: white;
  margin-top: 40px;
  margin-bottom: 40px;
  padding: 10px;
  display: flex;
  align-items: center; /* flex vertical alignment*/
  justify-content: center; /* flex horizontal alignment*/
  background-image: linear-gradient(135deg, #3b82f6, #5d77a2);
}

.main {
  margin: 10px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

ul {
  list-style: none;
  line-height: 1.5;
  list-style-type: circle;
}

.column {
  padding: 50px;
  text-align: left;
  height: 100vh;
  background-image: linear-gradient(135deg, #3b82f6, #5d77a2);
}

#backdiv {
  padding: 10px;
  display: flex;
  justify-content: left;
  padding: 10px;
}

#backbtn {
  width: 150px;
  border: none;
  line-height: 0.1;
  text-transform: uppercase;
  font-size: 17px;
  color: white;
  padding: 16px 0 13px;
  background-image: linear-gradient(135deg, #3b82f6, #5d77a2);
  transition: 0.03s;
  border-radius: 10px;
  margin-bottom: 10px;
}

a {
  color: white;
  text-decoration: none;
}

li {
  padding-top: 10px;
}
